@import "tailwindcss";
@import "antd/dist/reset.css"; 
/* globals.css */

:root {
  --bg: #ffffff;
  --text: #000000;
}

body.dark {
  --bg: #111111;
  --text: #ffffff;
}

body {
  background-color: var(--bg);
  color: var(--text);
  transition: background-color 0.2s ease, color 0.2s ease;
  /* teste */
    overflow-x: hidden;
  position: relative;
  z-index: 0;
}
